
.each_pet {
    background-color: rgb(133, 184, 180);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin: 100px; */
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 10px #888888;
    display: grid;
    text-align: center;



    
}


button {
    border: 2px solid rgb(24, 43, 85);
    border-radius: 12px;
    padding: 5px;
    background-color: rgb(88, 88, 137);
    size: 100px;
    cursor: pointer;
}
